/****** Main Styling ******/

html, body {
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    height: 100%;
    margin: 25px;
    color: #222;
    background-color: #ECF0F1;
    text-align: center;
    background-color: #FBE8A6;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .container {
    padding: 0;
    margin-top: 40px;
  }
  
  .footer {
    margin-top: auto;
    text-align: center;
    flex-shrink: 0;
  }
  
  a {
    color: #2574A9;
  }
  
  input {
    display: block;
    position: relative;
    margin: 10px auto;
  }
  
  input#button {
    width: 253px;
  }
  
  .view {
    position:relative;
    margin: auto;
    margin-top: 40px;
    border: 1px  solid  #aaa;
    padding: 20px;
    width: 60%;
    min-width: 400px;
  }